5.3. Resource Requirements

Content:

The following resources will be needed for the completion of this project:

	a. Hardware and Software
		1. Hardware
			The project group will utilize their own computers (laptops and/or desktops) to complete all work packages as detailed in section 5.1 of this document.
		2. Software
			The project group will use a number of software programs in order to complete the work packages.
			- Dia / LibreOffice Draw: Diagramming software.
			- Microsoft Word / LibreOffice Writer / SublimeText 2: Document-writing software.
			- Microsoft PowerPoint / LibreOffice Impress: Presentation-making software.
			- SublimeText 2 / Eclipse: Programming software.
			- Git (via GitHub): File Version Control Software.
			- GIMP / Paint.NET / MSPaint: Image manipulation software.
			- Mozilla Firefox / Google Chrome: Internet browsing software.

	b. Temporary and Permananent Locations
		1. Temporary Locations
			The following locations will be used:
				PUPR Campus - Library - Study Rooms: Project group meetings.
				PUPR Campus - Classrooms L-310, EPL-2: Meetings with Senior Project Professor.
				PUPR Campus - Plasma Laboratory: Meetings with Client.
				PUPR Campus - <final presentation room>: Final Presentation.
		2. Permanent Locations
			No permanent locations will be needed for the purposes of finishing this project.	
	c. Human Resources
		The Project and Design Leads will work on all work packages together, save the SRS (Design Lead) and SPMP. (Project Lead) The Project Lead will manage the GitHub file repository. Presentations will be given by both members.
	d. Meeting Logs
		Meeting Logs with the Senior Project Professor will be maintained by the Project Lead and will be provided in the final package along with the rest of the items.
	e. Time
		The time necessary for the completion of this project, as well as for each individual Work Package, is detailed in Appendix B: Gantt Chart Schedule.